/*
* @Author: lenovo
* @Date:   2018-03-10 14:53:12
* @Last Modified by:   13350
* @Last Modified time: 2018-04-12 17:53:35
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
 }
a{
 	/* 去掉a标签的下划线 */
 	text-decoration: none;
 	/* 中横线 */
 	/* text-decoration: line-through; */
 }
.header{
	width: 100%;
	height: 32px; 
	background: #f7f7f7;
	border-bottom: 2px solid #cccccc;
}
.header-main{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
}
.header-right{
	width: 430px;
	height: 100%;
	float: right;
}
.welcome{
	width: 132px;
	height: 32px;
	float: left;
	font-size: 12px;
	color: #000;
	line-height: 32px;
	margin-right: 20px;
}
.login-box{
	width: 79px;
	height: 32px;
	float: left;
	font-size: 12px;
	color: #000;
	line-height: 32px;
	margin-right: 12px;
}
/* .login-box a{ */
	/* color: #000; *//* 
} */ 
.login{
	color: #000;
	margin-right: 6px;
}
.res{
	color: #000;
	margin-left: 6px;
}
.order{
	display: block;
	width: 48px;
	height: 32px;
	float: left;
	font-size: 12px;
	color: #676767;
	line-height: 32px;
    margin-right: 16px;
}
.order:hover{
	color: #ba0d11;
}
.gonggao{
	display: block;
    width: 72px;
    height: 32px;
    float: left;
    margin-right: 13px;
}
.notice-img{
	width: 16px;
	height: 16px;
	background: green;
	float: left;
	margin-top: 9px;
	margin-right: 8px;
}
.notice-text{
	float: left;
	font-size: 12px;
	color: #676767;
	margin-top: 9px;
}
.notice-text:hover{
	color: #ba0d11;
}
.share{
	width: 38px;
	height: 18px;
	float: left;
    margin-top: 7px;
}
.weixin{
	display: block;
	width: 18px;
	height: 18px;
	background: #000;
	float: left;
}
.weibo{
	display: block;
	width: 18px;
	height: 18px;
	background: #000;
	float: right;
}
.share img{
	display: block;
	width: 100%;
}
.section{
	width: 1200px;
	height: 166px;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
}
.search{
	width: 1200px;
	height: 29px;
	margin-top: 28px;
}
.search-box{
	width: 438px;
	height: 29px;
	float: right;
}
.search-left{
	width: 309px;
	height: 100%;
	float: left;
}
.search-right{
	display: block;
	width: 107px;
	height: 100%;
	float: right;
	border: 1px solid #c1383e;
	font-size: 12px;
	color: #fff;
	line-height: 29px;
	text-align: center;
	background: #b71a21;
	background: url('../img/vancl.png')  no-repeat -153px 0;
}
.search-right:hover{
	background: url('../img/vancl.png') no-repeat -153px -29px;
}
.search-right:hover span{
	color: #b71a21;
}
input{
	width: 259px;
	height: 27px;
	border: 1px solid #c9caca;
	border-right: none;
}
button{
	width: 49px;
	height: 29px;
	background: #b61b21;
	border: 1px solid #c9caca;
	float: right;
	color: #fff;
}
.hot{
	width: 1200px;
	height: 28px;
	background: #fff;
}
.hot-box{
	width: 417px;
	height: 28px;
	float: right;
}
.hot-box span{
	font-size: 12px;
	color: #727171;
	float: left;
	line-height: 28px;
	margin-right: 15px;
}
.hot-box a{
	font-size: 12px;
	color: #727171;
	float: left;
	line-height: 28px;
	margin-right: 11px;
}
.nav-box{
	width: 1200px;
	height: 47px;
	background: #fff;
	margin-top: 4px;
}
.nav-left{
	display: block;
	width: 166px;
	height: 47px;
	float: left;
	background: url('../img/vancl.png') no-repeat 0 -59px;
}
nav{
	width: 989px;
	height: 18px;
	float: right;
	margin-top: 29px;
}
nav a{
	display: block;
	width: 98px;
	height: 18px;
	border-right: 1px solid #888888;
	float: left;
	font-size: 16px;
	color: #727171;
	text-align: center;
	line-height: 18px;
}
/* nav a:nth-child(10){
    border-right: none;
} */
nav a:last-child{
    border-right: none;
}
nav a:{
	color: #c01818;
}
.banner{
	width: 1200px;
	height: 535px;
	background: red;
	margin: 0 auto;
}
.recharge{
	display: block;
	width: 1200px;
	height: 134px;
	margin: 0 auto;
	margin-top: 48px;
}
.recharge img{
	display: block;
	width: 100%;
	height: auto;
}
.seckill{
	width: 1200px;
	height: 64px;
	background: yellow;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url('../img/miaosha-bg1.jpg') no-repeat;
}
.seckil-right{
	width: 421px;
	height: 64px;
	float: right;
}
.seckil-right .text{
	font-size: 18px;
	color: #fff;
	line-height: 64px;
	float: left;
}
.time{
	width: 166px;
	height: 64px;
	float: right;
	margin-right: 20px;
}
.time span{
    font-size: 14px;
    color: #b50000;
    line-height: 64px;
    margin-right: 43px;
}
.time span:last-child{
	margin-right: 0;
}
.time span:first-child{
    margin-left: 12px;
}
.seckill-list{
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.seckill-list li{
	width: 232px;
	height: 100%;
	background: #fff;
	margin-right: 10px;
	float: left;
}
.seckill-list li:last-child{
	margin-right: 0;
}
.seckill-list li a{
	display: block;
	width: 100%;
	height: 100%;
}
.seckill-img{
	width: 232px;
	height: 232px;
}
.seckill-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.seckill-text{
	width: 100%;
	height: 42px;
	background: #fff;
	margin-top: 11px;
	font-size: 16px;
	color: #3c3c3e;
	line-height: 21px;
	/* 字体加粗  正常*/
	font-weight: normal;
}
.seckill-price h2{
	width: 100%;
	height: 19px;
	font-size: 12px;
	color: #d6d6d6;
	text-decoration: line-through;
	font-weight: normal;
}
.seckill-now{
	width: 100%;
	height: 23px;
}
.seckill-now h3{
	float: left;
	font-size: 12px;
	color: #bb2b34;
	line-height: 23px;
	font-weight: normal;
}
.seckill-now h4{
	float: right;
	font-size: 12px;
	color: #474747;
	line-height: 23px;
	font-weight: normal;	
}
.seckill-now h4 span{
	font-size: 20px;
	color: #bb2b34;
	font-weight: bold;
}
.T-new{
	width: 1200px;
	height: 585px;
	background: #fff;
	margin: 0 auto;
}
.T-new-top{
	width: 1200px;
	height: 118px;
}
.T-new-img{
	width: 267px;
	height: 425px;
	float: left;
	margin-left: 29px;
}
.special{
	width: 1200px;
	height: 1012px;
	background: #fff;
	margin: 0 auto;
}
.special-top{
	width: 1200px;
	height: 63px;
}
.special-1{
	width: 290px;
	height: 485px;
    margin-right: 10px;
    float: left;
    margin-top: 30px;
    margin-bottom: 8px;
}
.special .special-1:last-child{
	margin-right: 0;
}
.special-2{
	width: 389px;
	height: 426px;
	margin-right: 11px;
    float: left;
}
.special .special-2:last-child{
	margin-right: 0;
}
.fuwu-box{
	width: 1198px;
	height: 282px;
	border: 1px solid #e0e0e0;
	margin: 0 auto;
}
.fuwuTop-box{
	width: 1112px;
	height: 138px;
	background: #fff;
	margin: 33px auto 0;
}
.fuwuList{
	width: 370px;
	height: 138px;
	border-right: 1px solid #e0e0e0;
	float: left;
}
.fuwuTop-box .fuwuList:last-child{
	border-right: none;
}
.top1-img{
	width: 36px;
	height: 40px;
	margin: 15px auto 32px;
}
.top1-text{
	width: 156px;
	height: 32px;
	background: #c3191c;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 32px;
}
.top2-img{
	width: 38px;
	height: 38px;
	margin: 20px auto 28px;
}
.top2-text{
	width: 128px;
	height: 38px;
	margin: 0 auto;
	font-size: 12px;
	color: #727171;
	text-align: center;
	line-height: 19px;
}
.top3-img{
	width: 98px;
	height: 99px;
	margin: 0 auto 20px;
}
.top3-text{
	width: 126px;
	height: 13px;
	margin: 0 auto;
	font-size: 12px;
	color: #727171;
	text-align: center;
	line-height: 13px;
}
.fuwuList .top3-text span{
	color: #a10000;
}
.fuwuBottom-box{
	width: 1112px;
	height: 57px;
	background: #ffffff;
	margin: 22px auto 0;
	overflow: hidden;
}
.about-box{
	width: 100%;
	height: 29px;
	background: #f8f8f8;
	margin-top: 15px;
}
.about-box li{
	font-size: 12px;
	color: #323232;
	float: left;
	border-right: 1px solid #dadadb;
	line-height: 29px;
	/* 左填充   内容到边框之间的距离 */
	padding-left: 64px;
	/* 右填充   内容到边框之间的距离 */
	padding-right: 64px;
}
.about-box li:last-child{
	border-right: none;
}
.swiper-container {
    width: 1200px;
    height: 535px;
}  
.footer{
	width: 100%;
	height: 160px;
	border-top: 1px solid #393939;
	margin-top: 25px;
}
.text1{
	font-size: 12px;
	color: #282828;
	text-align: center;
	line-height: 25px;
	margin-top: 10px;
}
.text2{
	font-size: 12px;
	color: #282828;
	text-align: center;
	line-height: 25px;
}
.footer-bottom{
	width: 728px;
	height: 45px;
	margin: 25px auto;
	background: #fff;
}
.footer-bottom1{
	width: 113px;
	height: 41px;
	float: left;
	margin-right: 20px;
	margin-top: 2px;
}
.footer-bottom2{
	width: 156px;
	height: 45px;
	float: left;
	margin-right: 24px;
}
.footer-bottom3{
	width: 87px;
	height: 39px;
	float: left;
	margin-right: 26px;
	margin-top: 3px;
}
.footer-bottom4{
	width: 94px;
	height: 37px;
    float: left;
    margin-right: 26px;
    margin-top: 4px;
}
.footer-bottom5{
	width: 182px;
	height: 42px;
	float: left;
	margin-top: 1px;
}
.fixed{
	width: 73px;
	height: 205px;
	border: 1px solid #bd050f;
	border-bottom: none;
	/* 固定定位 */
	position: fixed;
	/* top  left  right  bottom  */
	right: 10px;
	bottom: 40px;
	/* 层级 */
	z-index: 999;
	/* background: url('../img/baywindow.png') no-repeat 0 0; */
}
.fixed-box{
	width: 73px;
	height: 205px;
}
.fixed-top a{
	display: block;
	width: 73px;
	height: 78px;
	background: url('../img/baywindow.png') no-repeat 0 0;
}
.fixed-center a{
	display: block;
    width: 73px;
    height: 56px;
    background: url('../img/baywindow.png') no-repeat 0 -78px;
}
.fixed-bottom a{
	display: block;
    width: 73px;
    height: 72px;
    background: url('../img/baywindow.png') no-repeat 0 -134px;
}